{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
home page
{% endblock %}

{% block title %}
EduStore
{% endblock %}

{% block content %}
<div class="container">
<div class=" p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Place Order</h1>
        <p class="col-md-8 fs-4">Place your order or send for a enquiry</p>
        <a href="{% url 'schoolstore:order' %}"><button class="btn btn-primary btn-lg" type="button">Place order</button></a>
      </div>
    </div>
</div>
{% endblock %}